:root {
    --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
    
    --color-zero: brown;
    --color-first: #00241B;
    --color-second: #2F3E46;
    --color-third: #354F52;
    --color-fourth: #52796F;
    --color-silver-nine: #84A98C;
    /* --color-first: #051923;
    --color-second: #003554;
    --color-third: #006494;
    --color-fourth: #0582CA;
    --color-silver-nine: #00A6FB; */
    --color-sixth: #F2F2F2;
    --color-seventh: #ECECEC;
    --color-eighth: #CED4DA;
    --color-ninth: #CAD2C5;
    --color-tenth: #FFFFFF;
    --color-eleventh: #B6B6B6;
    --color-twelfth: #6C757D;
    --color-thirteenth: #06532F;
    --color-fourteenth: #124010;
    --color-fifteenth: #E24D4C;
    --color-sixteenth: #363636;
    --color-seventeenth: #A30000;
    --color-eighteenth: #FFBF00;
    --color-nineteenth: #DAA520;
    --color-twentieth: #0D6EFD;
    --color-twentyFirst: #3498DB;

    --color-one: #73E86D;
    --color-two: #000000;
    --color-three: #A8C3E7;
    --color-four: #E5E052;
    --color-five: #C12525;
    --color-six: #FFFFFF;

    --color-silver-one: #D8D4D5;
    --color-silver-two: #E2E2E2;
    --color-silver-three: #C5C5C5;
    --color-silver-four: #92BCEA;
    --color-silver-five: #AFB3F7;
    --color-silver-six: #ACAD94;
    --color-silver-seven: #949B96;
    --color-silver-eight: #7A93AC;
    --color-silver-nine: #829191;
    --color-silver-ten: #617073;
    --color-silver-eleven: #6E7271;
    --color-silver-twelve: #4C5B61;
    --color-silver-thirteen: #384D48;
    --color-silver-fourteen: #2C423F;
    --color-silver-fiveteen: #171A21;

    --color-blue-one: #2589BD;
    --color-blue-two: #187795;
    --color-blue-three: #38686A;
    --color-blue-four: #A3B4A2;
    --color-blue-five: #CDC6AE;
    
    --space-zero: 0.03rem;
    --space-first: 0.25rem;
    --space-second: 0.3rem;
    --space-third: 0.45rem;
    --space-fourth: 0.5rem;
    --space-fifth: 0.7rem;
    --space-sm: 0.75rem;
    --space-sixth: 0.45rem;
    --space-seventh: 0.8rem;
    --space-eighth: 0.9rem;
    --space-ninth: 0.95rem;
    --space-tenth: 1rem;
    --space-md: 1.33rem;
    --space-eleventh: 2.2rem;
    --space-twelfth: 4rem;
    --space-thirteenth: 5rem;
    --space-thirteenthandahalf: 5.5rem;
    --space-fourteenth: 6rem;
    --space-fifteenth: 7rem;
    --space-sixteenth: 10rem;
    --space-seventeenth: 12rem;
    --space-eighteenth: 13.5rem;
    --space-nineteenth: 15rem;
    --space-twentieth: 18rem;
    --space-twentyFirst: 22rem;
    --space-75: 75%;

    --space-one: 20rem;
    --space-two: 22rem;
    --space-three: 28rem;
    --space-four: 30rem;
    --space-five: 32rem;
    --space-six: 35rem;
}