@import '../global.css';

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* .card span:nth-child(1) { border-left: solid var(--color-one) .5em; }
.card span:nth-child(2) { border-left: solid var(--color-two) .5em; }
.card span:nth-child(3) { border-left: solid var(--color-three) .5em; }
.card span:nth-child(4) { border-left: solid var(--color-four) .5em; }
.card span:nth-child(3) { border-left: solid var(--color-five) .5em; }
.card span:nth-child(4) { border-left: solid var(--color-six) .5em; } */

.card span {
    display: flex;
    height: 7rem;
    width: 15rem;
    margin: var(--space-first);
    padding: 0 var(--space-sm) 0 var(--space-sm);
    color: var(--color-silver-three);
    background-color: var(--color-tenth);
    border-radius: .3rem;
    border-left: solid var(--color-silver-eleven) .5em;
    box-shadow: 0 .3rem .6rem rgba(0,0,0,0.16), 0 .3rem .6rem rgba(0,0,0,0.23), 0 0 .25rem #AAA inset;
}

.card span a {
    height: 100%;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    color: var(--color-silver-eleven);
    font-size: 1.25rem;
}