.ginput {
    display: flex;
    padding: .8rem;
    position: relative;
    height: 2.5rem;
    width: 15rem;
    margin: .25rem;
    margin-top: 1.15rem;
}
.ginput > input {
    height: 100%;
}
.ginput > input, button {
    width: 100%; 
    position: absolute; 
    top: 0; 
    left: 0;
    text-align: center;
    padding: .9rem;
    outline: none;
    border: none;
    border-radius: .3rem;
    background-color: var(--color-sixth);
}
.ginput > input[data-tip='1'] {
    background-color: #D56062;
}
.ginput > input:is(.ginput input[data-tip='1']) ~ label {
    color: white;
}
.ginput > label {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
}
.ginput > input:focus ~ label,
.ginput > input:valid ~ label {
    color: var(--color-sixth);
    transform: translate(-50%, -220%);
    backface-visibility: hidden;
    will-change: transform;
}
.ginput > input:focus,
.ginput > input:valid {
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}