@import '../global.css';

.dois {
    height: 25vh;
}
dialog {
    height: 80vh;
    width: 40vw;
    padding: 0;
    background-color: var(--color-silver-one);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: .25s;
    border-radius: var(--space-second);
    border: none;
    scrollbar-width: thin;
    scrollbar-color: var(--color-fourth);
}
dialog header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--space-tenth) 0 var(--space-tenth);
    color: var(--color-sixth);
    background-image: linear-gradient(var(--color-silver-nine), var(--color-silver-eleven));
    border-radius: var(--space-second) var(--space-second) 0 0;
}
dialog header span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--space-eleventh);
    padding: var(--space-seventh);
    color: var(--color-tenth);
    background-color: var(--color-silver-nine);
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    user-select: none;
}
dialog header span:hover {
    color: var(--color-eleventh);
    cursor: pointer;
}
dialog center {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
dialog div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
dialog footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: var(--space-tenth);
    border-radius: 0 0 var(--space-second) var(--space-second);
}

@keyframes animatetop {
    from { opacity: 0 };
    to { opacity: 1; };
}